name: Android Build

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  android-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make gradlew Executable
        run: chmod +x gradlew

      - name: Decode Keystore
        run: echo "${{ secrets.KEYSTORE }}" | base64 --decode > ${{ github.workspace }}/keystore.jks

      - name: Build Android APK
        env:
          BACKEND_BASE_URL: ${{ secrets.BACKEND_BASE_URL }}
          MAPTILER_API_KEY: ${{ secrets.MAPTILER_API_KEY }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: ./gradlew assembleRelease

      - name: Upload Build Artifacts to Release
        uses: softprops/action-gh-release@v2
        with:
          files: composeApp/build/outputs/apk/release/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}