name: Android Build

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  windows-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make gradlew Executable
        run: chmod +x gradlew

      - name: Build Android APK
        env:
          BACKEND_BASE_URL: ${{ secrets.BACKEND_BASE_URL }}
          MAPTILER_API_KEY: ${{ secrets.MAPTILER_API_KEY }}
        run: ./gradlew assembleRelease

      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: composeApp/release
          signingKeyBase64: ${{ secrets.KEYSTORE }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload Build Artifacts to Release
        uses: softprops/action-gh-release@v2
        with:
          files: composeApp/release/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}